{{- $username := .Get "username" | default "squaredcow" -}}
{{- $text := .Get "text" | default "Buy me a coffee" -}}
{{- $button_colour := .Get "button_colour" | default "FFDD00" -}}
{{- $font_colour := .Get "font_colour" | default "000000" -}}
{{- $font_family := .Get "font_family" | default "Bree" -}}
{{- $outline_colour := .Get "outline_colour" | default "000000" -}}
{{- $coffee_colour := .Get "coffee_colour" | default "ffffff" -}}
{{- $emoji := .Get "emoji" | default "" -}}

<div class="buymeacoffee-wrapper" style="text-align: center; margin: 20px 0;">
    <a href="https://www.buymeacoffee.com/{{ $username }}" target="_blank" rel="noopener noreferrer">
        <img src="https://img.buymeacoffee.com/button-api/?text={{ $text }}&emoji={{ $emoji }}&slug={{ $username }}&button_colour={{ $button_colour }}&font_colour={{ $font_colour }}&font_family={{ $font_family }}&outline_colour={{ $outline_colour }}&coffee_colour={{ $coffee_colour }}" 
             alt="{{ $text }}" 
             style="height: 60px; width: 217px;" 
             loading="lazy">
    </a>
</div>